<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#000000" />
		<meta name="description" content="A simple invoice generator" />
		<meta name="author" content="Randy Asuncion" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="./images/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./images/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="./images/favicon-16x16.png"
		/>
		<link rel="manifest" href="./site.webmanifest" />
		<title>Invoice Generator</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<style>
			body {
				font-family: 'Roboto', sans-serif;
			}
			input,
			textarea {
				font-weight: 300;
			}
		</style>
	</head>
	<body class="bg-gray-200 font-light">
		<div id="app" class="h-full w-full flex flex-col">
			<header class="w-full p-3 bg-white shadow fixed z-10">
				<nav
					class="container mx-auto max-w-screen-lg flex justify-between items-center"
				>
					<div class="text-md flex items-center">
						<div
							class="rounded-full bg-black flex items-center justify-center border text-white h-10 w-10 mr-2 text-xl"
						>
							ig
						</div>
						<h1 class="text-lg">Invoice Generator</h1>
					</div>
					<button
						@click="previewHandler"
						class="bg-black text-white py-2 px-5 rounded-sm text-sm"
					>
						View Invoice
					</button>
				</nav>
			</header>
			<main
				class="container mx-auto h-full max-w-screen-lg flex bg-white mt-20 p-2 sm:p-8 shadow"
			>
				<section class="w-full p-2">
					<form ref="form" class="text-sm">
						<section
							class="flex flex-col sm:flex-row justify-between mb-2"
						>
							<div class="w-full">
								<ul>
									<li
										class="my-5 flex justify-between sm:block gap-8"
									>
										<div
											id="logo"
											ref="logo"
											class="text-gray-400 rounded-sm border inline-flex cursor-pointer relative"
											@click="$refs.file.click()"
										>
											<div class="p-8">
												+ Add your logo
											</div>
											<button
												v-show="form.logo"
												class="absolute rounded-sm h-4 w-4 bg-gray-900 text-white"
												@click.stop.prevent="removeLogo"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M6 18L18 6M6 6l12 12"
													/>
												</svg>
											</button>
										</div>
										<div
											class="w-1/3 sm:hidden text-2xl text-right"
										>
											INVOICE
										</div>
										<input
											ref="file"
											class="hidden"
											type="file"
											accept="image/png, image/jpeg"
											@change="fileHandler"
										/>
									</li>
									<li>
										<textarea
											class="resize-none w-full p-2 rounded-sm border"
											name="from"
											id="from-txt"
											rows="5"
											v-model="form.from"
											required
											:placeholder="`Your Name or Company\nAddress\nPhone\nEmail\nWebsite`"
										></textarea>
									</li>
									<li class="mt-5">
										<p class="uppercase font-bold">
											Bill To
										</p>
										<textarea
											class="resize-none w-full p-2 rounded-sm border"
											name="from"
											id="from-txt"
											rows="3"
											v-model="form.to"
											:placeholder="`Recipient's Name or Company\nAddess`"
											required
										></textarea>
									</li>
								</ul>
							</div>
							<div class="sm:w-0 md:w-full"></div>
							<div class="w-full">
								<ul class="text-left sm:text-right">
									<li class="my-5">
										<div
											class="hidden sm:block text-4xl text-right"
										>
											INVOICE
										</div>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-1/3 pr-2"
											>Invoice #</span
										>
										<input
											required
											class="w-2/3 text-right p-2 rounded-sm border"
											type="number"
											v-model="form.invoiceNum"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-1/3 pr-2">Date</span>
										<input
											required
											class="w-2/3 text-right p-2 rounded-sm border"
											type="date"
											v-model="form.invoiceDate"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-1/3 pr-2">Terms</span>
										<input
											class="w-2/3 text-right p-2 rounded-sm border"
											type="text"
											v-model="form.terms"
											placeholder="Payment Terms"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-1/3 pr-2">Due Date</span>
										<input
											required
											class="w-2/3 text-right p-2 rounded-sm border"
											type="date"
											v-model="form.dueDate"
										/>
									</li>
								</ul>
							</div>
						</section>
						<section class="my-5">
							<div class="border border-black sm:hidden"></div>
							<table class="table-fixed w-full">
								<thead
									class="py-3 border-b-2 border-black hidden sm:table-header-group uppercase"
								>
									<tr>
										<th class="py-3 w-3/6 text-left">
											Item
										</th>
										<th class="py-3 w-1/6 text-right">
											Qty
										</th>
										<th class="py-3 w-1/6 text-right">
											Price
										</th>
										<th class="py-3 w-1/6 text-right">
											Amount
										</th>
									</tr>
								</thead>
								<tbody>
									<tr
										v-for="(item, key) in form.items"
										:key="key"
										class="border-b-2 border-gray-200 flex flex-col sm:table-row"
									>
										<td
											v-if="key > 0"
											class="sm:hidden text-right"
										>
											<button
												class="mt-1 rounded-sm h-4 w-4 bg-gray-900 text-white"
												@click.prevent="removeItem(key)"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 20 20"
													fill="currentColor"
												>
													<path
														fill-rule="evenodd"
														d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
														clip-rule="evenodd"
													/>
												</svg>
											</button>
										</td>
										<td
											class="w-full sm:w-3/6 text-left flex sm:table-cell items-center"
										>
											<span class="sm:hidden w-1/3"
												>Item</span
											>
											<input
												required
												class="w-2/3 sm:w-full border border-gray-200 rounded-sm p-2 my-1"
												type="text"
												placeholder="Item Name"
												v-model="item.desc"
											/>
										</td>
										<td
											class="w-full sm:w-3/6 text-left flex sm:table-cell items-center"
										>
											<span class="sm:hidden w-1/3"
												>Qty</span
											>
											<input
												class="w-2/3 sm:w-full border border-gray-200 rounded-sm p-2 my-1 text-right"
												type="number"
												min="1"
												required
												v-model="item.qty"
												placeholder="Qty"
											/>
										</td>
										<td
											class="w-full sm:w-3/6 text-left flex sm:table-cell items-center"
										>
											<span class="sm:hidden w-1/3"
												>Price</span
											>
											<input
												required
												class="w-2/3 sm:w-full border border-gray-200 rounded-sm p-2 my-1 text-right"
												type="number"
												step="0.01"
												v-model="item.rate"
												placeholder="Rate"
											/>
										</td>
										<td
											class="w-full sm:w-3/6 text-right flex sm:table-cell items-center"
										>
											<span
												class="sm:hidden w-1/3 text-left"
												>Amount</span
											>
											<span
												class="p-2 my-1 text-right w-full"
												>$ {{ (item.qty || 1) *
												item.rate | currency }}</span
											>
										</td>
										<td
											v-if="key > 0"
											class="hidden sm:table-cell"
										>
											<button
												class="m-2 h-4 w-4 bg-gray-900 text-white rounded-sm"
												@click.prevent="removeItem(key)"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 20 20"
													fill="currentColor"
												>
													<path
														fill-rule="evenodd"
														d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
														clip-rule="evenodd"
													/>
												</svg>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<button
								class="w-full sm:w-auto bg-black rounded-sm px-4 py-2 text-white mt-2 text-sm"
								@click.prevent="addItem"
							>
								Add Item
							</button>

							<div class="flex flex-col-reverse sm:flex-row">
								<div class="w-full sm:w-1/2 mt-5">
									<p>Notes</p>
									<textarea
										class="resize-none w-full border rounded-sm p-2 mt-1"
										rows="5"
										v-model="form.notes"
									></textarea>
								</div>
								<ul
									class="text-left sm:text-right w-full sm:w-1/2 mt-5"
								>
									<li class="py-1 flex items-center">
										<span class="w-2/3 pr-2">Subtotal</span>
										<input
											class="p-2 text-right"
											type="text"
											readonly
											:value="toCurrency(subtotal)"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-2/3 pr-2">Tax %</span>
										<input
											class="p-2 rounded-sm border text-right"
											type="number"
											step="0.01"
											v-model="form.tax"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span class="w-2/3 pr-2">Total</span>
										<input
											class="p-2 text-right"
											type="text"
											:value="toCurrency(total)"
										/>
									</li>
									<li class="py-1 flex items-center">
										<span
											class="w-2/3 pr-2 font-bold uppercase"
											>Balance Due</span
										>
										<input
											class="p-2 text-right font-bold"
											type="text"
											:value="toCurrency(balanceDue)"
										/>
									</li>
								</ul>
							</div>
						</section>
					</form>
				</section>
			</main>
			<footer class="text-center p-2 text-sm text-gray-500 my-5">
				<div class="">
					A project by
					<a
						class="text-blue-500"
						href="https://randya.dev"
						target="__blank"
						>Randy Asuncion</a
					>
				</div>
			</footer>
		</div>
		<script src="https://unpkg.com/pdfmake@0.2.5/build/pdfmake.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
		<script src="./pwa.js"></script>
		<script src="./index.js"></script>
	</body>
</html>
